
  @media only screen and (max-width: 480px) {
    .home_adv_srch_opt .nav-pills{
        border-bottom: none;
        margin: 0 auto;
        text-align: center;
        width: 340px;
      }

      .home_adv_srch_opt .nav-pills li.nav-item a.nav-link:first-child{
        margin-right: 10px;
      }
      .home_adv_srch_opt .nav-pills li.nav-item a.nav-link{
        background-color: #ffffff;
        border-radius: 8px;
        color: #1b2032;
        font-size: 12px;
        height: 30px;
        width: 70px;
        text-align: center;
        line-height: 15px;
      }
      .home_adv_srch_opt .nav-pills li.nav-item a.nav-link.active{
        background-color: #2c612c;
        border-color: #1c421c;
        color: #ffffff;
      }
      .home_adv_srch_opt .nav-pills li.nav-item a.nav-link.active:before{
        background-color: #2c612c;
        content: "";
        height: 20px;
        margin-left: 5px;
        position: absolute;
        top: 35px;
        width: 20px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    
  }